<extend name="./Template/Public/admin_base.html" />

<block name="title">后台管理</block>
<block name="js">
	<!-- 获取选则的用户组 -->
	<script type="text/javascript">
	function get_select(){		
		var tab = document.getElementById('{$table}');
		var att = document.getElementById('{$attribute}');
		att.selected=true;
		tab.selected=true;
		changeOption();
	}
	</script>
</block>
<block name="li_sel">
                <li><a href="{:U('Admin/SiteSetting/index')}">后台首页</a></li>
                <li class="active"><a href="{:U('Admin/UserGroup/index')}">用户组权限管理</a></li>
                <li><a href="{:U('Admin/PlateManage/index')}">论坛版块管理</a></li>
                <li><a href="{:U('Admin/UserManage/index')}">用户管理</a></li>
            </block>    
<block name="body_set"><body onload="get_select()"></block>
<block name="content">
  
   <!-- 巨幕 -->   
   <div class="jumbotron">
   <h1>BrilliantBeeS</h1>
   <h3>当前权限显示“1”的表示有此权限，“0”表示没有。</h3>
   <h3>右侧复选框选择了代表赋予该权限，不选则禁止该权限。</h3>
   </div>

   <div style="width:100%;float:left;height:50px" >	
	<form action="{:U('handle')}" method="post" id="tform">
			<div style="float:left;margin-top:8px">
					<select id="paritem" name="paritem" onchange ="changeOption()" style="width:100px">
					<option value="admin_group" id="admin_group">管理组</option>
					<option value="level_group" id="level_group">晋级用户组</option>
					<option value="special_group" id="special_group">特殊用户组</option>
					</select>
			</div>	
			<div style="float:left;margin-top:8px">	
					<select id="sub_admin" name="sub_admin" style="width:100px;display:block">
					<option value="admin" id="admin">管理员</option>
					<option value="super_moderator" id="super_moderator">超级版主</option>
					<option value="moderator" id="moderator">版主</option>
					<option value="noviciate_moderator" id="noviciate_moderator">见习版主</option>
					</select>
					
					<select id="sub_special" name="sub_special" style="display:none;width:100px">
					<option value="banned_to_post" id="banned_to_post">禁止发言</option>
					<option value="banned_to_visit" id="banned_to_visit">禁止访问</option>
					<option value="ban_ip" id="ban_ip">用户IP被禁止</option>
					<option value="is_tourist" id="is_tourist">游客</option>
					<option value="wait_for_verify" id="wait_for_verify">等待验证</option>
					</select>

					<select id="sub_level" name="sub_level" style="display:none;width:100px">
					<option value="level1" id="level1">1级</option>
					<option value="level2" id="level2">2级</option>
					<option value="level3" id="level3">3级</option>
					<option value="level4" id="level4">4级</option>
					<option value="level5" id="level5">5级</option>
					<option value="level6" id="level6">6级</option>
					<option value="level7" id="level7">7级</option>
					<option value="level8" id="level8">8级</option>
					<option value="level9" id="level9">9级</option>
					<option value="levelx" id="levelx">10级</option>
					</select>					
			</div>
			<div style="float:left;margin-left:25px"><button type="submit" class="btn btn-default">查看</button></div>
	<input type="hidden" name="table_name" value="{$table}" />
	<input type="hidden" name="attribute_name" value="{$attribute}" />
	</form>
	</div>

	<div style="float:left;width:100%;background-color:#F2F2F2;border-radius:6px">
	<form action="{:U('save_auth')}" method="post">
    <table class="table table-hover"  style="text-align:center">
		<tr><th style="text-align:center">权限(共35项)</th><th style="text-align:center">当前权限</th><th style="text-align:center">修改</th></tr>
		<foreach name="auth_list" item="au" key="k">
		<volist name="group_list" id="gr" offset="$num" length='1'>
			<tr>
			<td>{$k+1}. {$au.auth_name}</td>	
			<td>{$gr}</td>
			<td><input type="checkbox" name="selects{$num++}" value="1" /></td>	
			</tr>
		</volist>
		</foreach>
	</table>	
	<button type="submit" style="margin-left:90%" class="btn btn-default"/>保存</button>
	<input type="hidden" name="table_name" value="{$table}" />
	<input type="hidden" name="attribute_name" value="{$attribute}" />
	</form>	
	</div>
</block>

<block name="js_file"><script src="__PUBLIC__/js/usergroup.index.js"></script></block>