<extend name="./Template/Public/admin_base.html"/>

<block name="title">{:C('SITE_NAME')} - 网站设置</block>

<block name="css_file">
    <link rel="stylesheet" href="__PUBLIC__/css/sitesetting.index.css" type="text/css"/>
</block>
<block name="li_sel">
                <li class="active"><a href="{:U('Admin/SiteSetting/index')}">后台首页</a></li>
                <li><a href="{:U('Admin/UserGroup/index')}">用户组权限管理</a></li>
                <li><a href="{:U('Admin/PlateManage/index')}">论坛版块管理</a></li>
                <li><a href="{:U('Admin/UserManage/index')}">用户管理</a></li>
            </block>    
<block name="content">
    <h2>网站相关配置</h2>
    <div class="alert alert-warning" role="alert" style="margin-bottom: 20px;">
        <strong>警告：</strong>修改内容后不会自动保存，如果确认修改，请点击页面下方的保存按钮以保存修改
    </div>
    <form action="{:U('handle')}" method="post">
        <div id="main-body">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5>页面显示相关配置</h5>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">
                            <div class="setting-label">网站名称</div>
                            <div class="setting-option">
                                <input type="text" name="SITE_NAME" value="{:C('SITE_NAME')}"/>
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="setting-label">网页宽度（可以输入以px、%为单位的数值）</div>
                            <div class="setting-option">
                                <input type="text" name="SITE_WIDTH" value="{:C('SITE_WIDTH')}"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h5>网站功能相关配置</h5>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item">
                            <div class="setting-label">开启网站注册功能</div>
                            <div class="setting-option">
                                <input type="checkbox" name="OPEN_SIGNUP" value="1" {$signup_open} />
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="setting-label">开启注册验证码功能</div>
                            <div class="setting-option">
                                <input type="checkbox" name="OPEN_SIGNUP_VERIFY" value="1" {$signup_verify_open} />
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="setting-label">登录错误次数限制（请输入数字，若为0则表示不限制）</div>
                            <div class="setting-option">
                                <input type="text" name="LOGIN_ERROR_COUNT" value="{:C('LOGIN_ERROR_COUNT')}" />
                            </div>
                        </a>
                        <a class="list-group-item">
                            <div class="setting-label">登录错误后的限制时间（单位为秒）</div>
                            <div class="setting-option">
                                <input type="text" name="LOGIN_ERROR_TIME" value="{:C('LOGIN_ERROR_TIME')}" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</block>