#page-div a {
    display: inline-block;
    height: 40px;
    min-width: 55px;
    text-align: center;
    padding-top: 10px;
    background-color: white;
}

#page-div a.num {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#page-div a.prev {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#page-div a.first {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;

    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;

    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}

#page-div a.next {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#page-div a.end {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;

    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;

    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}

#page-div a:hover {
    text-decoration: none;
    background-color: #eee;
}

#page-div span {
    display: inline-block;
    height: 40px;
    min-width: 55px;
    text-align: center;
    padding-top: 10px;
    background-color: #bbb;
    color: darkslateblue;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
