<extend name="./Template/Public/base.html"/>

<block name="title">{:C('SITE_NAME')} - 首页</block>
<block name="content">

<div class="row">
    <foreach name="plate" item="pla">
        <div class="panel panel-default">
            <a href="{:U('/forum/'.$pla['plate_id'])}">
                <div class="panel-heading">
                    <h3 class="panel-title">{$pla.plate_name}</h3>
                </div>
            </a>
            <div class="panel-body">
                {$pla.plate_desc}
            </div>
        </div>
    </foreach>
</div>
</block>
