<extend name="./Template/Public/base.html"/>

<block name="css_file"><link rel="stylesheet" type="text/css" href="__PUBLIC__/css/forum.plate.css"></block>
<block name="js_file">
	<script type="text/javascript">
	function check(){
		var title = document.getElementById('post_title').value;
		var content = document.getElementById('post_content').value;
		if(title==''||content=='') {
			alert('主题和内容不能为空');
			return false;

		}
		else return true;
	}
	</script>
	</block>

<block name="l-bar">
	<em>&nbsp > &nbsp</em>
	<a href="{:U('forum?id='.$id)}" style="color:black">{$plate_name}</a>
</block>

<block name="content">

	<div class="plate_name">
			<h1>{$plate_name}</h1>
			<p>{$plate_desc}</p>
	</div>
	<div class="plate_sub_name">子板块名</div>

	<div class="plate_page">
	<a class="btn btn-default" href="{:U('Post/index?id='.$id.'&plate_name='.$plate_name)}" role="button" style="box-shadow: 0px 0px 5px red">发帖</a>
	</div>
	<div class="plate_view">
		<foreach name="result" item="arr">
			<div style="height:50px;width:100%;border-bottom:2px solid #8BACDB;padding:5px" class="post_view">
			<a href="{:U('Post/forum?id='.$arr['post_id'].'&plate_id='.$id.'&plate_name='.$plate_name)}"style="width:70%;float:left;font-size:25px">{$arr.post_title}</a>
			<div style="float:left">
			<a href="#">{$arr.post_author_name}</a>
			<volist name="times" id="t" offset='$num' length='1'>
				<p>{$t}</p>
			</volist>
			</div>
			</div>
		</foreach>
	</div>
	<div class="plate_page">
	<a class="btn btn-default" style="box-shadow: 0px 0px 5px red;margin-top:5px" href="{:U('Post/index?id='.$id.'&plate_name='.$plate_name)}" role="button">发帖</a>
	</div>
	<div class="plate_post">
		<div style="background-color:#EBF2F8;border:2px solid #EBF2F8">
			<p style="margin-left:10px">快速发帖</p>
		</div>
		<div>
			<form action="{:U('handle')}" method="post" onsubmit="return check()">
			<div style="margin-top:5px;margin-left:15px">
					<p style="float:left">主题：</p>
				<input type="text" style="width:590px;height:25px" name="post_title" id="post_title">		
			</div>
			<div style="margin-top:5px;margin-left:15px">
				<p>内容：</p>
				<textarea rows="10" cols="100" style="width:900px;height:130px" name="post_content" id="post_content"></textarea>		
			</div>
			<div style="margin-top:10px;margin-left:15px">
				<input type="hidden" name="plante_id" id="plante_id" value="{$plante_id}">
				<input type="submit" value="提交" class="btn btn-default" />
				<input type="reset" value="重置" class="btn btn-default" />
				<input type="hidden" value="{$id}" name="plate_id" >				
			</div>
			</form>	
		</div>
	</div>
</block>
 -->