<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="__PUBLIC__/favicon.ico">
    <title><block name="title"></block></title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.base.css" type="text/css">
    <!-- 插入css文件位置 -->
    <block name="css_file"></block>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:U('Home/Index/index')}">BrilliantBeeS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="{$Index}"><a href="{:U('Admin/Index/index')}">后台首页</a></li>
                <li class="{$GroupManage}"><a href="{:U('Admin/GroupManage/index')}">用户组权限管理</a></li>
                <li class="{$PlateManage}"><a href="{:U('Admin/PlateManage/index')}">论坛版块管理</a></li>
                <li class="{$UserManage}"><a href="{:U('Admin/UserManage/index')}">用户管理</a></li>
                <li class="{$SiteSetting}"><a href="{:U('Admin/SiteSetting/index')}">网站设置</a></li>
                <li class="{$ActionAuth}"><a href="{:U('Admin/ActionAuth/index')}">操作权限注册</a></li>
            </ul>            
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="flash_messages">
                <php>
                    $flash_messages = get_flash_messages();
                    foreach ($flash_messages as $msg) {
                    echo '<div class="alert '.$msg[1].'"><button type="button" class="close" data-dismiss="alert">&times;</button>'.$msg[0].'</div>';
                    }
                </php>
            </div>
            <block name="content"></block>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/admin.base.js"></script>
<block name="js_file"></block>
</body>
</html>