<extend name="./Template/Public/admin_base.html"/>

<block name="title">{:C('SITE_NAME')} - 增加版主</block>

<block name="content">
    <h3>版主候选人</h3><br/>
    <form action="{:U('/Admin/PlateManage/addAdminHandle')}" method="post" id="add">
        <table class="table table-hover">
            <tr bgcolor="#f5f5dc">
                <td>#</td>
                <td>候选人ID</td>
                <td>候选人名称</td>
                <td>候选人身份</td>
            </tr>
            <foreach name="addAdmin" item="add">
                <tr>
                    <td>
                        <if condition="$add['can_admin_plate']">
                                <!-- checkbox 的name 属性为一个数组,表单提交时,会将勾选的value值存到名为name的数组-->
                                <label><input type="checkbox" name="check_all[]" value="{$add.user_id}"></label>
                            <else/>
                            <span class="alert-danger">本版块版主</span>
                        </if>
                    </td>
                    <td>{$add.user_id}</td>
                    <td>{$add.user_name}</td>
                    <td>{$add.user_admin_group}</td>
                </tr>
            </foreach>
        </table>
        <div class="checkbox">
            <label><input type="checkbox" id="check_all">全选</label>&nbsp;&nbsp;&nbsp;
            <input type="hidden" name="pid" value="{$plate_id}"/>
            <input id="addadmin-btn" class="btn btn-danger" type="button" value="增加版主" >
        </div>
    </form>
</block>

<block name="js_file">
    <script src="__PUBLIC__/js/admin.plateManage.js"></script>
</block>