<extend name="./Template/Public/admin_base.html"/>

<block name="title">{:C('SITE_NAME')} - 增加版主</block>

<block name="content">
    <h2>版主候选人</h2>
    <hr>
    <form action="{:U('/Admin/PlateManage/addAdminHandle')}" method="post" id="add">
        <table class="table table-hover">
            <thead style="font-weight: bold;">
                <td>#</td>
                <td>候选人ID</td>
                <td>候选人名称</td>
                <td>候选人管理身份</td>
            </thead>
            <foreach name="admins" item="add">
                <tr>
                    <td>
                        <if condition="$add['can_admin_plate']">
                                <!-- checkbox 的name 属性为一个数组,表单提交时,会将勾选的value值存到名为name的数组-->
                                <input type="checkbox" name="check_all[]" value="{$add.user_id}">
                        <else/>
                            <span class="alert-danger">本版块版主</span>
                        </if>
                    </td>
                    <td>{$add['user_id']}</td>
                    <td>{$add['user_name']}</td>
                    <td>{$admin_group[$add['user_admin_group']]['admin_name']}</td>
                </tr>
            </foreach>
        </table>
        <div class="checkbox">
            <label><input type="checkbox" id="check_all">全选</label>
            <input type="hidden" name="pid" value="{$plate_id}"/>
            <br style="margin-bottom: 10px;">
            <input id="addadmin-btn" class="btn btn-danger" type="button" value="增加版主" >
            <a href="{:U('index')}" class="btn btn-default">返回</a>
        </div>
    </form>
</block>

<block name="js_file">
    <script src="__PUBLIC__/js/admin.plateManage.js"></script>
</block>