<extend name="./Template/Public/admin_base.html" />

<block name="title">后台管理</block>
<block name="li_sel">
                <li><a href="{:U('Admin/SiteSetting/index')}">后台首页</a></li>
                <li><a href="{:U('Admin/UserGroup/index')}">用户组权限管理</a></li>
                <li class="active"><a href="{:U('Admin/PlateManage/index')}">论坛版块管理</a></li>
                <li><a href="{:U('Admin/UserManage/index')}">用户管理</a></li>
</block>    
<block name="content">
                <form action="{:U('newPlate')}" method="post">
                <input type="submit" class="btn btn-primary" value="新建板块"/>
                </form>
                <hr/>
                <table class="table table-hover">
                    <tr bgcolor="#f5f5dc">
                        <th>板块ID</th>
                        <th>板块标题</th>
                        <th>贴子数目</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    <foreach name='plate' item='v'>
                        <tr>
                            <td>{$v.plate_id}</td>
                            <td>{$v.plate_name}</td>
                            <td>{$v.plate_post_count}</td>
                            <td>{$v.plate_create_time}</td>
                            <td>
                                <a href="{:U('Admin/PlateManage/deletePlateCfm',array('id'=>$v['plate_id']))}" >delete</a>
                            </td>
                        </tr>
                    </foreach>
                    <tr>
                        <td colspan="5" align="center">
                            {$page}
                        </td>
                    </tr>
                </table>
            </block>

<block name="js_file"><script src="__PUBLIC__/js/usergroup.index.js"></script></block>