<extend name="./Template/Public/admin_base.html" />

        <block name="title">新建板块</block>
        <block name="content">
            <form action="{:U('./Admin/PlateManage/newPlateHandle')}" method="post">
                <lable for="plateName"><h5>板块名称:</h5></lable>
                <br/>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder="请输入板块名" id="plateName" name="plateName">

                </div><br/><br/><br/>
                <lable for="plateDescription"><h5>板块描述:</h5></lable>
                <br/>
                <textarea name="plateDescription" id="plateDescription" cols="100" rows="10"
                          placeholder="请输入板块描述"></textarea>
                <br/><br/>
                <input type="submit" class="btn btn-primary" value="提 &nbsp 交"/>
            </form>
        </block>