<extend name="./Template/Public/admin_base.html"/>

<block name="title">{:C('SITE_NAME')} - 版主信息</block>

<block name="content">
    <h2>板块 - {$plate['plate_name']}</h2>
    <h4>版主信息</h4>
    <table class="table table-hover">
        <tr bgcolor="#f5f5dc">
            <td>版主ID</td>
            <td>版主名称</td>
            <td>版主身份</td><!--版主/超级版主-->
            <td>指定时间</td>
            <td>操作</td>
        </tr>
        <foreach name="admin" item="u">
            <tr>
                <td>{$u['user_id']}</td>
                <td>{$u['user_name']}</td>
                <td>{$u['user_admin_group']}</td>
                <td>{$u['create_time']|date='Y-m-d H:i', ###}</td>
                <td>
                    <a href="{:U('deleteAdmin',array('uid'=>$u['user_id'], 'pid'=>$u['plate_id']))}">删除</a>
                </td>
            </tr>
        </foreach>
    </table>
    <a href="{:U('addAdmin',array('pid'=>$plate['plate_id']))}" class="btn btn-primary">增加</a>
</block>