<extend name="./Template/Public/admin_base.html" />

<block name="title">{:C('SITE_NAME')} - 添加用户</block>

<block name="css_file">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.userManage.css" type="text/css"/>
</block>

<block name="content">
    <h2>添加用户</h2>
    <hr>
    <form action="{:U('addHandle')}" method="post" id="add_user">
        <div class="panel panel-primary">
            <div class="panel-heading"><h5>请输入内容，用户名、密码、邮箱必须填写</h5></div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="setting-label"><label for="user_name">用户名</label></div>
                    <div class="setting-option"><input type="text" name="user_name" id="user_name"/></div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label for="user_password">密码</label></div>
                    <div class="setting-option"><input type="text" name="user_password" id="user_password"/></div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label for="user_email">邮箱</label></div>
                    <div class="setting-option"><input type="text" name="user_email" id="user_email"/></div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>晋级用户组</label></div>
                    <div class="setting-option">
                        <select name="user_level_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['level']" item="level_group">
                                <option value="{$level_group['level_id']}">{$level_group['level_name']}</option>
                            </foreach>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>特殊用户组</label></div>
                    <div class="setting-option">
                        <select name="user_special_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['special']" item="special_group">
                                <option value="{$special_group['special_id']}">{$special_group['special_name']}</option>
                            </foreach>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>管理用户组</label></div>
                    <div class="setting-option">
                        <select name="user_admin_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['admin']" item="admin_group">
                                <option value="{$admin_group['admin_id']}">{$admin_group['admin_name']}</option>
                            </foreach>
                        </select>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <input type="submit" id="confirm_btn" class="btn btn-primary" value="确认添加"/>
            <a href="{:U('index')}" class="btn btn-default">返回</a>
        </div>
    </form>
</block>

<block name="js_file">
    <script src="__PUBLIC__/js/jquery.md5.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/admin.userManage.js" type="text/javascript"></script>
</block>