<extend name="./Template/Public/admin_base.html" />

<block name="title">UserManage</block>

<block name="css_file">
    <link href="__PUBLIC__/css/admin.usermanage.css" type="text/css" rel="stylesheet"></link>
</block>

<block name="content">
    <form action="{:U('index')}" method="post" id="search">
        <div class="row">
            <div class="col-lg-5">
                <div class="input-group">
                    <!--<div class="input-group-btn">-->
                        <!--<select type="button" class="btn btn-default"  aria-haspopup="true" aria-expanded="false">-->
                            <!--<option>用户名</option>-->
                            <!--<option >邮箱</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <input type="text" class="form-control" name="user_name" placeholder="用户名" aria-label="...">
                    <div class="input-group-btn">
                        <button type="summit" class="btn btn-default"  aria-haspopup="true" aria-expanded="false">搜索</button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /.col-lg-5 -->
            <div class="input-group-btn">
                <a href="{:U('add')}"><button type="button"  class="btn btn-primary" aria-haspopup="true" aria-expanded="false">添加用户</button></a>
            </div><!-- /btn-group -->
        </div><!-- /.row -->
    </form>
    <div style="float: right">共&nbsp;<span class="text-primary">{$count}</span>&nbsp;条记录</div>
    <br/>

    <form action="{:U('delete_all')}" method="post" id="delete">
        <!-- 表格-->
        <table class="table table-bordered table-condensed table-hover">
            <!--表头 -->
            <tr class="info">
                <td>#</td>
                <td>ID</td>
                <td>用户名</td>
                <td>密码</td>
                <td>邮箱</td>
                <td>晋级用户组</td>
                <td>特殊用户组</td>
                <td>管理用户组</td>
                <td>编辑</td>
                <td>删除</td>
            </tr>

            <!-- 表内容-->
            <volist name="list" id="v">
                <tr name="tr" class="" id="tr-{$v.user_id}">
                    <td>
                        <div class="checkbox">
                            <!-- checkbox 的name 属性为一个数组,表单提交时,会将勾选的value值存到名为name的数组-->
                            <label><input id="checkbox-{$v.user_id}" type="checkbox" name="delete_all[]" value="{$v.user_id}"></label>
                        </div>
                    </td>
                    <td>{$v.user_id}</td>
                    <td>{$v.user_name}</td>
                    <td>{$v.user_password}</td>
                    <td>{$v.user_email}</td>
                    <td>{$v.user_level_group}</td>
                    <td>{$v.user_special_group}</td>
                    <td>{$v.user_admin_group}</td>
                    <td><a href="__MODULE__/UserManage/update/user_id/{$v.user_id}">修改</a></td>
                    <td><a href="__MODULE__/UserManage/delete/user_id/{$v.user_id}" style="color: firebrick">删除</a></td>
                </tr>
            </volist>
        </table>

        <!-- 没有搜索到用户时显示的提示信息-->
        <div><h1>{$notice}</h1></div>

        <div class="checkbox" >
            <label><input type="checkbox" id="check_all" onclick="checkAll()">全选</label>&nbsp;&nbsp;&nbsp;
            <input class="btn btn-danger" type="button" onclick="deleteAll()" value="批量删除用户">
        </div>
        <div id="page-div">{$page}</div>
    </form>


</block>

<block name="js_file">
    <script src="__PUBLIC__/js/admin.userManage.js"></script>
</block>