<extend name="./Template/Public/admin_base.html" />

<block name="title">{:C('SITE_NAME')} - 更改用户资料</block>

<block name="css_file">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.userManage.css" type="text/css"/>
</block>

<block name="content">
    <h2>更改用户资料</h2>
    <hr>
    <form action="{:U('updateHandle')}" method="post">
        <!-- 隐藏域传递user_id,用于确认修改的对象-->
        <input type="hidden" name="user_id" value="{$info.user_id}"/>

        <div class="panel panel-primary">
            <div class="panel-heading"><h5>目前只支持修改用户所属分组</h5></div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="setting-label"><label>ID</label></div>
                    <div class="setting-option">{$info.user_id}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>用户名</label></div>
                    <div class="setting-option">{$info.user_name}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>邮箱</label></div>
                    <div class="setting-option">{$info.user_email}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>晋级用户组</label></div>
                    <div class="setting-option">
                        <select name="user_level_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['level']" item="level_group">
                                <if condition="$info['user_level_group'] eq $level_group['level_id']">
                                <option value="{$level_group['level_id']}" selected="selected">{$level_group['level_name']}</option>
                                    <else/><option value="{$level_group['level_id']}">{$level_group['level_name']}</option>
                                </if>
                            </foreach>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>特殊用户组</label></div>
                    <div class="setting-option">
                        <select name="user_special_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['special']" item="special_group">
                                <if condition="$info['user_special_group'] eq $special_group['special_id']">
                                    <option value="{$special_group['special_id']}" selected="selected">{$special_group['special_name']}</option>
                                    <else/>
                                    <option value="{$special_group['special_id']}">{$special_group['special_name']}</option>
                                </if>
                            </foreach>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>管理用户组</label></div>
                    <div class="setting-option">
                        <select name="user_admin_group">
                            <option value="0">不属于</option>
                            <foreach name="group_info['admin']" item="admin_group">
                                <if condition="$info['user_admin_group'] eq $admin_group['admin_id']">
                                    <option value="{$admin_group['admin_id']}" selected="selected">{$admin_group['admin_name']}</option>
                                    <else/>
                                    <option value="{$admin_group['admin_id']}">{$admin_group['admin_name']}</option>
                                </if>
                            </foreach>
                        </select>
                    </div>
                </li>
            </ul>
        </div>

        </table>
        <div>
            <input type="submit" class="btn btn-primary" value="保存修改"/>
            <a href="{:U('index')}" class="btn btn-default">返回</a>
        </div>
    </form>
</block>>

