<extend name="./Template/Public/admin_base.html" />

<block name="title">更改用户资料</block>

<block name="css_file">
    <link rel="stylesheet" href="__PUBLIC__/css/sitesetting.index.css" type="text/css"/>
</block>

<block name="content">

    <form action="{:U('update')}" method="post">
        <!-- 隐藏域传递user_id,用于确认修改的对象-->
        <input type="hidden" name="user_id" value="{$info.user_id}"/>

        <div class="panel panel-primary">
            <div class="panel-heading"><h4>更改用户资料</h4></div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="setting-label"><label>ID</label></div>
                    <div class="setting-option">{$info.user_id}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>用户名</label></div>
                    <div class="setting-option">{$info.user_name}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>邮箱</label></div>
                    <div class="setting-option">{$info.user_email}</div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>晋级用户组</label></div>
                    <div class="setting-option">
                        <select name="user_level_group">
                            <option value="0" {$Lv0}>不属于</option>
                            <option value="1" {$Lv1}>Lv(01)</option>
                            <option value="2" {$Lv2}>Lv(02)</option>
                            <option value="3" {$Lv3}>Lv(03)</option>
                            <option value="4" {$Lv4}>Lv(04)</option>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>特殊用户组</label></div>
                    <div class="setting-option">
                        <select name="user_special_group">
                            <option value="0" {$Sp0}>不属于</option>
                            <option value="1" {$Sp1}>禁止IP</option>
                            <option value="2" {$Sp2}>禁止发言</option>
                            <option value="3" {$Sp3}>游客</option>
                            <option value="4" {$Sp4}>待验证</option>
                        </select>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="setting-label"><label>管理用户组</label></div>
                    <div class="setting-option">
                        <select name="user_admin_group">
                            <option value="0" {$Ad0}>不属于</option>
                            <option value="1" {$Ad1}>版主助理</option>
                            <option value="2" {$Ad2}>版主</option>
                            <option value="3" {$Ad3}>超级版主</option>
                            <option value="4" {$Ad4}>管理员</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>

        </table>
        <div>
            <a href="{:U('index')}"><input class="btn btn-primary" type="button" value="返回"></a>
            <input type="submit" class="btn btn-primary" value="保存修改"/>
        </div>
    </form>
</block>>

